<div class="app">
  <div class="nav">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Lorem Ipsum</h1>
    <section>
      Lorem ipsum dolor sit amet. Sed illum vitae ut iure minima qui veniam
      eveniet et nulla sunt. Hic magnam odio est pariatur voluptas non tenetur
      nesciunt ea iure incidunt qui corrupti pariatur et aspernatur corporis.
      Eum laboriosam ipsa est repellendus architecto et molestiae cupiditate quo
      iste quia et adipisci architecto. Est omnis accusantium et assumenda
      beatae quo aspernatur autem qui rerum amet non dolorem harum ut obcaecati
      odio rem maxime molestiae? Et laborum rerum rem nemo necessitatibus ea
      corrupti odit. Nam consequatur sint eum cupiditate dolorum aut pariatur
      illum id voluptate voluptatem. Et rerum deserunt quo aspernatur earum est
      dolorem molestias qui repellendus quibusdam ut quisquam facere ea
      veritatis suscipit. Qui autem modi qui nemo maxime et consequatur
      voluptatibus hic illum ducimus At animi quod et dolor fugit et similique
      voluptatem. Ea suscipit quia eum asperiores impedit ad accusamus tempore
      qui quis esse est accusantium quasi. Ad quae magni ut natus quas qui
      laborum eaque ea obcaecati soluta et aspernatur voluptate aut quis neque.
      Qui aperiam veritatis est illo rerum non sunt voluptatem ea adipisci
      veniam.
    </section>
  </div>
</div>
